

body {
    margin: 0;
    padding: 0;
}

.topo { 
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            background-image: linear-gradient(to right, #1B2641, #1D2129);
                                            width: 100vw;
                                            height: 8%;
                                            position: fixed;
                                            top: 0;
                                            z-index: 1000;                                         
}

.nav {
                                            display: flex;
                                            align-items: center;
}

.nav2 {
                                            display: flex;
}

.img-logo {
                                            width: 250px;
                                            height: 50px;
                                            margin-left: 20px;
                                            z-index: 100;
                                            cursor: pointer;
}

.spam {
                                            z-index: 100;
                                            color: white;
                                            font-size: 25px;
                                            margin-left: 20px;
                                            cursor: pointer;
}

.botaoTopo {
                                            margin-right: 25px;
                                            padding: 5px;
                                            
}

.menu {
                                            position: fixed;
                                            top: 8%;
                                            left: -250px;
                                            width: 250px;
                                            height: 100%;
                                            background-color: #17191F;
                                            transition: left 0.3s ease;
                                            
}

.menu ul {
                                            list-style: none;
                                            padding: 0;
}

.menu li {
    padding: 10px;
    border-bottom: 1px solid #555;
}

.menu-li {
                                            
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.content {
    transition: margin-left 0.3s ease;
    padding: 20px;
    margin: 76px auto;
    text-align: center;
    background-color: antiquewhite;
    overflow: hidden;
}



.content-open {
    margin-left: 250px;
}

.toggleMenu {
                z-index: 10;
}


.carousel {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    max-width: 100%;
    height: auto;
}


.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.next:hover {           background-color: #1D2129;}
.prev:hover {           background-color: #1D2129;}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}



@media screen and (max-width: 768px) {
        .img-vip {
                width: 93vw;
        }
}
