@charset "UTF-8";

body, html {
                                        margin: 0px;
                                        padding: 0px;
                                        width: 600px;
                                        margin: auto;
                                        background-color: rgb(105, 98, 98);  
                                        font-family: Arial, Helvetica, sans-serif;        
}
                    /* Menu superior */
.menu-superior {
                                        position: fixed;
                                        top: 0;
                                        left: 50%;
                                        transform: translate(-50%, 0%);
                                        width: 600px;
                                        background-color: #333;
                                        color: #fff;
                                        z-index: 10;
}

menu {
                                        display: flex;
                                        justify-content: space-between;                            
}
.img-logo {
                                        width: 200px;

}

.link-header {
                                        text-decoration: none;                              
                                        padding: 10px;
                                        color: black;                               
}

.link-header:hover {
                                        color: white;
}

#link-entrar {
                                        background-color: #0078D7;
                                        padding: 5px;
                                        opacity: 0.8;
                                        border-radius: 5px;
}

#link-entrar:hover {

                                        opacity: 1;
}

            /* Menu inferior */
.menu-inferior {                             
                                        position: fixed;
                                        bottom: 0;
                                        left: 50%;
                                        transform: translate(-50%, 0%);
                                        width: 600px;
                                        padding: 5px 1px;
                                        background-color: #333;
                                        color: #fff;
                                        z-index: 100;
}

.menu-ul-inferior {
                                        display: flex;
                                        justify-content: space-around;
                                        list-style: none;
}

.menu-inferior a {
                                        text-decoration: none;
                                        color: #fff;
                                        padding: 10px;
                                        margin: 0 5px;
}

.content {
                                        transition: margin-left 0.3s ease;
                                        padding: 20px;
                                        margin: 76px auto;
                                        text-align: center;
                                        background-color: rgba(0, 0, 0, 0.584);
}
     
.content-open {
                                        margin-left: 250px;
}
    
.toggleMenu {
                                        z-index: 10;
}
       
.carousel {
                                        position: relative;
                                        max-width: 99%;
                                        margin: 0 auto;
                                        overflow: hidden;    
}
    
.carousel-images {
                                        display: flex;
                                        transition: transform 0.5s ease;
}
    
.carousel-images img {
                                        max-width: 100%;
                                        height: auto;
}
    
    
.prev,
.next {
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        background-color: rgba(0, 0, 0, 0.5);
                                        color: white;
                                        padding: 10px 20px;
                                        border: none;
                                        cursor: pointer;
}
    
.next:hover {                           background-color: #1D2129;}
.prev:hover {                           background-color: #1D2129;}
    
.prev {
                                        left: 10px;
}
    
.next {
                                        right: 10px;
}

.nav-sessao {
                                        background-color: black;
                                        color: white;
                                        width: 99%;
                                        margin: 20px auto;
                                        text-align: center;
}

aside {
                                        display: flex;
                                        justify-content: space-between;
                                        flex-direction: row;
                                        align-items: center;                               
}



label {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
}

#img-buscar {
                                        width: 17px;
                                        cursor: pointer;
                                        border: 1px solid black;
                                        height: 17px;                             
}

#input-buscar {
                                        outline: none;
                                        width: 18vw;
}

.div-but-pag {
                                        margin: 10px 5px;
}

.but-pag {
                                        padding: 5px 8px;
                                        cursor: pointer;
}

.but-pag:hover {
                                        opacity: .4;
                                        transform: scale(0.9);
}

.container-jogos {
                                        width: 99%; /* Largura de 95% da largura da viewport */
                                        margin: 0 auto; /* Centraliza horizontalmente o conteúdo */
  }
  
section {
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: space-between; /* Distribui as seções uniformemente na linha */
}

.div-img {
                                        display: flex;
                                        flex-direction: column;
                                        width: calc(33.33% - 20px); /* Distribui as imagens em 3 colunas com espaçamento */
                                        text-align: center;
}

.link-jogar {
                                        text-decoration: none;
                                        background-color: rgb(13, 126, 254);
                                        color: white;
                                        padding: 10px;
                                        margin-bottom: 10px;
                                
}

footer {
                                        background-color: black;
                                        width: 99%;
                                        margin: auto;
                                        padding: 7px 0px;
                                        color: white;
                                        text-align: center;
                                        margin-bottom: 70px;
                                        margin-top: 10px;
}

        /*screen and (max-width: 768px)*/
@media screen and (max-width: 768px) {

    body, html {
        margin: 0px;
        padding: 0px;
        width: 100vw;      
}

/* Menu superior */
.menu-superior {
        position: fixed;
        top: 0;
        left: 50%;
        width: 100%;
        background-color: #333;
        color: #fff;
        z-index: 100;
}

menu {
        display: flex;
        justify-content: space-between;
        
}

.img-logo {
        width: 117px;

}

.link-header {
      text-decoration: none;                              
      padding: 0px 10px 0px 0px;
      color: black;                               
}

.link-header:hover {
        color: white;
}

#link-entrar {
        background-color: #0078D7;
        padding: 5px;
        opacity: 0.8;
        border-radius: 5px;
}

/* Menu inferior */
.menu-inferior {                             
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        height: 70px;
        background-color: #333;
        color: #fff;
        z-index: 1000;
}

.menu-inferior a {
      text-decoration: none;
      color: #fff;
      padding: 0px 10px 0px 0px;
      margin: 0px;
}

.content {

        margin: 60px auto;

}

.nav-sessao {
        background-color: black;
        color: white;
        width: 100%;
        margin: 20px auto;
        text-align: center;
}



#img-buscar {
        width: 15px;
}

#input-buscar {
       width: 30vw;
}

.div-but-pag {
        text-align: right;
        margin: 15px 5px;
        transition: .35s;
        cursor: pointer;
}

.but-pag {

        padding: 5px 5px;
}

.container-jogos {
        width: 99%; /* Largura de 95% da largura da viewport */
        margin: 0 auto; /* Centraliza horizontalmente o conteúdo */
}

section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Distribui as seções uniformemente na linha */
}

.div-img {
        display: flex;
        flex-direction: column;
        width: calc(33.33% - 20px); /* Distribui as imagens em 3 colunas com espaçamento */
        text-align: center;
}

.link-jogar {
        text-decoration: none;
       background-color: rgb(13, 126, 254);
       color: white;
       padding: 10px;
       margin-bottom: 10px;
        
}


footer {
        background-color: black;
        width: 99%;
        margin: auto;
        padding: 7px 0px;
        color: white;
        text-align: center;
        margin-bottom: 70px;
        margin-top: 10px;
}
  }
  






