@charset "UTF-8";

body {
                                 /* Evita o scroll da página quando o modal está aberto */
}
                    /*modal perfil*/
.modal {
                                display: none;
                                position: fixed;
                                z-index: 97;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                overflow: auto;
                                background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
                                background-color: white;
                                margin: 100px auto;
                                padding: 20px;
                                border: 1px solid #888;
                                width: 562px;
                                text-align: center;
}
.close {
                                color: #aaa;
                                float: right;
                                font-size: 28px;
                                font-weight: bold;
}
.close:hover,
.close:focus {
                                color: black;
                                text-decoration: none;
                                cursor: pointer;
}

                /*conteudo modal perfil*/ 
.div-header {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 0px 30px 0px 20px;
}

.img-perfil-modal { 
                                border-radius: 50%;
                                background-color: rgb(115, 115, 131);
                                width: 50px;
                                height: 50px;
}

.div-deposito {
                                display: flex;
                                justify-content: space-around;
}

.div-deposito-h3 {
                                background-color: #01a759;
                                border-radius: 5px;
                                padding: 0px 15px;
                                margin: 20px;
}

h3 {
                                color: white;
}

.container-grande {
                                background-color: #888;
                                width: 90%;
                                padding: 10px;
                                justify-content: left;
                                text-align: justify;
}

.container {
                                display: flex;
                                justify-content: space-between;
                                
}

.column {
                                flex: 1;

}

ul {
                                list-style-type: none;
                                padding: 0;
                                margin: 0;
}

                    /*modal afiliado*/

.fullscreen-modal {
                                display: none;
                                position: fixed;
                                z-index: 100;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                width: 599px;
                                height: 100%;
                                background-color: rgba(0, 0, 0, 0.8);

}
.fullscreen-modal-content {
                                background-color: rgb(227, 224, 224);
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                right: -100%;
                                transition: right 0.5s ease;
                                box-sizing: border-box;
}
.fullscreen-close {
                                position: absolute;
                                top: 10px;
                                right: 20px;
                                color: #aaa;
                                font-size: 28px;
                                font-weight: bold;
}
.fullscreen-close:hover,
.fullscreen-close:focus {
                                color: rgb(255, 255, 255);
                                text-decoration: none;
                                cursor: pointer;
}
.fullscreen-modal.show .fullscreen-modal-content {
                                right: 0;
}

.div-header-afiliado {
                                background-color: #009d80;
                                padding: 6px;
}

.ul-afiliado {
                                display: flex;
                                color: #65728e;
                                margin: 10px 0px;
                                font-size: 1vh;
                                font-weight: 900;
                                justify-content: space-around;
}

.li-afiliado {
                                background-color: white;
                                border: 1px solid rgba(0, 0, 0, 0.137);
                                cursor: pointer;
}

.li-afiliado:hover {
                                background-color: #009d80;
                                color: white;
                                font-size: 15px;
                                
}

#h3-afiliado {
                                color: black;
                                text-align: left;
                                padding-top: 10px;
                                text-indent: 1.5em;
}
hr {
    width: 80vw;
}

.div-afiliado {
                                background-color: white;
                                width: 90vw;
                                border-radius: 10px;
                                margin: auto;
}

.div-afiliado1 {
                                display: flex;
                                justify-content: space-around;
                                width: 90vw;
                                margin: auto;
}

                        /*modal deposito*/

.gray-modal {
                                display: none;
                                position: absolute;
                                z-index: 98;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                width: 599px;
                                height: 100%;
                                background-color: rgba(128, 128, 128, 0.8); /* Fundo cinza */
}
.gray-modal-content {
                                background-color: #24262b;
                                overflow: scroll;
                                width: 100%;
                                height: 200%;
                                position: absolute;
                                top: 0;
                                left: -100%;
                                transition: left 0.5s ease;
                                box-sizing: border-box;
}
.gray-close {
                                position: absolute;
                                top: 10px;
                                right: 20px;
                                color: #aaa;
                                font-size: 28px;
                                font-weight: bold;
}
.gray-close:hover,
.gray-close:focus {
                                color: rgb(255, 255, 255);
                                text-decoration: none;
                                cursor: pointer;
}
.gray-modal.show .gray-modal-content {
                                left: 0;
}

                                /*conteudo modal deposito */
.div-header-deposito {
                                display: flex;
                                padding-left: 10px;
                                align-items: center;
                                background-color: black;
}     

.div-pix {
                                display: flex;
                                justify-content: space-evenly;               
}

.pix {
                                padding: 10px 30px;
                                margin: 0px 10px;
                                background-color: #151618;
                                border-radius: 5px;
}

.div-input {
                                display: flex;
                                width: 80%;
                                border-radius: 3px;
                                margin: 30px auto;
                                justify-content: space-around;
                                background-color: #151618;
}

.input {
                                background-color: transparent;
                                border: none;
                                outline: none;
                                font-size: 20px;
                                color: white;                              
}
            /*remove scroll do input*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;}

.div-quantidade {
                                display: flex;
                                justify-content: space-around;
                                width: 84%;
                                margin: 10px auto;
                                

}

.quantidade {
                                background-color: #525761;
                                margin: 5px 10px;
                                padding: 5px 30px;
                                border-radius: 15px;
}

.depositar-agora {
                                background-color: #01a759;
                                width: 80%;
                                margin: 30px auto;
                                padding: 8px;
                                border-radius: 4px;
}

.div-paragrafo-deposito {
                                width: 80%;
                                margin: auto;
                                text-indent: 1.6em;
}

.p-deposito {
                                color: white;
}
strong {
                                text-decoration: underline;
}
@media screen and (max-width: 768px) {
                /*Modal perfil*/
    .modal-content {
                margin: 80px auto;
                width: 90%;    
    }

            /*Modal deposito*/
    .gray-modal {
                width: 100vw;
                height: 100%;

}
            /*Modal Afiliado*/
    .fullscreen-modal {
                width: 100%;
                height: 100%;
}



}






