@charset "UTF-8";

.nav {
        width: 80vw;
        border: 1px solid black;
        margin: 10px auto;
}

.img-nav {
                        width: 300px;
                        margin: auto;
                        text-align: center;
                        display: block;
}

.jogos {
                                background-color: azure;
                                margin: 5px;
                                padding: 10px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

}

.img-jogos {
                                width: 50px;
}

.a-jogos {
                                color: rgb(19, 7, 196);
                                font-size: 20px;
                                font-weight: bold;
                                text-decoration: none;
}
