@charset "UTF-8";

:root { 
                            --cor-menu: rgb(34, 51, 242);
                            --cor-body: rgb(0, 0, 0);
                            --cor-h2: rgb(0, 0, 0);
                            --cor-hoverh2: rgb(44, 226, 56);
}

* {    
                            margin: 0px;
                            padding: 0px;
                            box-sizing: border-box;
}

body { 
                            padding: 0px;
                            margin: 0px;
                            background-color: rgba(0, 0, 255, 0.759);                   
}

.div-topo {     
                            background-image: url(../imagens/foto-header.jpg);
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center top;
                            height: 200px;
}

.img-topo {  
                            
                            width: 300px;
                            margin: auto;
                            text-align: center;
                            display: block;
}

header { 
                            background-color: rgba(15, 15, 107, 0.665);
                            border: 1px solid white;
                            padding: 10px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            gap: 3em;      
}

.link-inicio { 
                            text-decoration: none;
                            color: black;  
                            font-size: 23px;
                            font-family: 'Mynerve', cursive;                            
}

.link-inicio:hover {
                            color: white;
}

#burg {
                            display: none;
}

#itens {
                            display: flex;
                            flex-direction: row;
}

.div-menu {
                            padding: 7px;
                            transition: 0.5s;
}

.div-menu:hover {
                            background-color: rgba(0, 0, 0, 0.558);
}

.link-menu { 
                            font-family: 'Mynerve', cursive;
                            color: black;
                            padding: 7px;
                            text-decoration: none;        
}

.link-menu:hover {
                            color: white;
}

hr {
                            border: 1px solid rgba(0, 0, 0, 0.414);
                            margin-right: 3vw;
                            
}

.contatos {
                            display: flex;
                            justify-content: space-evenly;
}

.img-contato {
                            width: 30px;
}

footer {
                            color: white;
                            background-color: black;
                            text-align: center;
                            padding: 15px;
}

@media screen and (max-width: 768px) {

    .div-topo {     

        background-size: cover;

        background-position: center top;
        height: 200px;
}

    header { 
                    display: block;      
}

    #section-menu-topo {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 10px;
}

    #burg {          
                    text-align: right;
                    display: block;
                    cursor: pointer;                         
                    color: black;
                    font-size: 22px;                                         
}

    #fechar { 
                    cursor: pointer;
                    padding: 0px 10px;
                    color: black;
                    font-size: 22px;
}

    #itens { 
                    display: flex;
                    flex-direction: column;
                    align-items: center;      
}

    .link-menu  {
                    width: 100vw;
                    text-align: center;
    }

    .div-menu:hover {
                    transform: scale(1.16);
                    width: 90%;
                    margin: auto;
                    text-align: center;
}
    hr {
                    border: 1px solid rgba(0, 0, 0, 0.414);
                    width: 96vw;
}

}