@charset "UTF-8";



@charset "UTF-8";

:root {
                                                        --body: #33333377;
                                                        --header-content: #333333da;
                                                        --menu: #333;
                                                        --modal-cad-login: #2a0f44;
                                                        --color-a-hover-menu: #ffffff;
                                                        --a-menu: #FEC800; 
                                                        --color-green: #55c242;
}

* {
                                                        margin: 0;
                                                        padding: 0px;
                                                        box-sizing: border-box;
}

/* Classe que desativa o scroll do body */

body {
                                                        justify-content: center;
                                                        font-family: Arial, sans-serif;
                                                        margin: 0;
                                                        padding: 0;
                                                        background-color: var(--body);
                                                        
}



a {
                                                        text-decoration: none;                                                  
}

li {
                                                        list-style: none;
}

strong {
                                                        color: #00a85a;
                                                        font-size: 22px;
}

/* Menus */
.menu-superior, .menu-inferior {
                                            position: fixed;                                         
                                            padding: 10px ;
                                            height: 70px;
                                            background-color: var(--menu);
                                            color: white;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            z-index: 10;
                                            box-sizing: border-box;
}


        /* Estilo da sobreposição (modal) da roleta */
.overlay {
                                            position: fixed; /* Fixa no topo da página */
                                            width: 600px;
                                            height: 100%;
                                            background: rgba(0, 0, 0, 0.253); /* Fundo semi-transparente */
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            z-index: 1000; /* Prioridade máxima de sobreposição */
         /* pointer-events: none;  Permite interação com o site atrás */
}
        
        /* Ajustes para garantir que a roleta e seus elementos recebam cliques */
.overlay-content {
                                            pointer-events: auto; /* Permite que a roleta receba cliques */
}
        /* Estilo do botão "X" para fechar o modal */
.close-btn-roleta {

                                            position: absolute;
                                            top: 0%;
                                            left: 100%;
                                            transform: translate(-50%, -70%);
                                            background-color: red;
                                            color: white;
                                            border: none;
                                            font-size: 16px;
                                            cursor: pointer;
                                            padding: 10px;
                                            border-radius: 50%; /* Faz o botão ser circular */
                                            z-index: 0; /* Garante que o botão apareça acima da roleta */
}
                /* Container da roleta para centralizar */
.roleta-container {
                                            position: fixed;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            display: flex;
                                            justify-content: center;

                                            align-items: center;

}
                /* Estilo da roleta em si */
.roleta {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%; /* Forma circular */
    border: 5px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(#f00 0% 12.5%, #0f0 12.5% 25%, #00f 25% 37.5%, #ff0 37.5% 50%, #0ff 50% 62.5%, #f0f 62.5% 75%, #fa0 75% 87.5%, #a0f 87.5% 100%);
    transition: transform 4s ease-out; /* Transição suave ao rodar */
}

/* Estilo dos prêmios na roleta */
.prize {
    position: absolute;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
}



                /* Estilo do botão "Rodar" no centro da roleta */
.spin-btn {
                                            position: absolute;
                                            width: 80px;
                                            height: 80px;
                                            border-radius: 50%; /* Botão circular */
                                            background-color: #333;
                                            color: white;
                                            border: none;
                                            font-size: 18px;
                                            cursor: pointer;
                                            z-index: 10; /* Certifica que fica acima da roleta */
}
                /* Estilo para desabilitar o botão após rodar */
.disabled {
                                            background-color: gray;
                                            cursor: not-allowed; /* Cursor indica que o botão está desabilitado */
                }
                /* Estilo da área onde o resultado do prêmio será mostrado */
.result {

                                            position: fixed;
                                            top: 70%;
                                            left: 50%;
                                            transform: translate(-50%, -30%);
                                            font-size: 16px;
                                            color: #ffffff;
}
                /* Estilo do conteúdo principal do site, inicialmente oculto */
.main-site {
                                            padding: 20px;
                                            text-align: center;
}
                /* Classe para esconder elementos (usada para ocultar site ou roleta) */
.hidden {
                                            display: none;
}

.carousel {
                                            position: relative;
                                            max-width: 95%;
                                            margin: 0 auto;
                                            overflow: hidden;    
}

.carousel-images {
                                            display: flex;
                                            transition: transform 0.5s ease;
}

.carousel-images img {
                                            max-width: 100%;
                                            height: auto;
}


.prev,
.next {
                                            position: absolute;
                                            top: 50%;
                                            font-size: 20px;
                                            transform: translateY(-50%);
                                            background-color: rgba(0, 0, 0, 0.877);
                                            color: white;
                                            padding: 10px 20px;
                                            border: none;
                                            cursor: pointer;
}

.next:hover {                               background-color: #1D2129;}
.prev:hover {                               background-color: #1D2129;}
.prev {                                     left: 10px;}
.next {                                     right: 10px;}

.nav-sessao {
                                            background-color: black;
                                            color: white;
                                            width: 95%;
                                            margin: auto;
                                            text-align: center;
}

aside {
                                            display: flex;
                                            width: 100%;
                                            justify-content: center;                                   
                                            align-items: center;
                                            margin: 0px 10px;
                                            justify-content: space-between;
}

.buscar {
                                            background-color: white;
                                            width: 100%;
                                            display: flex;
                                            justify-content: space-between;
                                            flex-flow: row nowrap;
}
#input-buscar {
                                            width: 100px;
                                            padding: 5px 2px;
                                            border: none;
                                            outline: none;
}

.div-but-pag {
                                            display: flex;
                                            flex-flow: row nowrap;                                             
                                            margin: 20px;
                                            cursor: pointer;
}

.but-pag {
                                            padding: 5px;
}



.container-jogos {
                                            width: 95%; /* Largura de 95% da largura da viewport */
                                            margin: 0 auto; /* Centraliza horizontalmente o conteúdo */
}

section {
                                            display: flex;
                                            flex-wrap: wrap;
                                            justify-content: space-between; /* Distribui as seções uniformemente na linha */
}

.div-img {
                                            display: flex;
                                            flex-direction: column;
                                            width: calc(33% - 20px); /* Distribui as imagens em 3 colunas com espaçamento */
                                            text-align: center;
}

.link-jogar {
                                            text-decoration: none;
                                            background-color: rgb(13, 126, 254);
                                            color: white;
                                            padding: 10px;
                                            margin-bottom: 10px;

}

.menu-inferior {
                                            bottom: 0;
                                            text-align: center;
                                            height: 70px;
                                            z-index: 100;
}

.menu-ul-inferior {
                                            display: flex;
                                            flex-flow: row nowrap;
                                            width: 100%;
                                            align-items: center;
                                            justify-content: space-around;
                                            list-style: none;
}

.li-menu-inferior {
                                            display: flex;
                                            flex-flow: column nowrap;
                                            
                                            
}

.p-span {
                                            font-size: 17px;
                                            font-family: Arial, Helvetica, sans-serif;
}

.menu-superior img {
                                            height: 40px;
}
.img-afiliado-menu-inferior {
                                            width: 40px; 
                                            margin-top: 10px;
                                            transition: transform 0.5s ease-in-out; /* Suaviza a rotação */
}

.img-afiliado-menu-inferior:hover {
                                            transform: rotate(360deg); 
}

.menu-superior .links {
                                            display: flex;
                                            gap: 20px;
}

.menu-superior a, .menu-inferior a {
                                            color: white;
                                            text-decoration: none;
                                            font-weight: bold;
}

.menu-superior a:hover, .menu-inferior a:hover {
                                            text-decoration: underline;
}

                    /* Estilos dos Modais */
.modal {
                                            position: fixed;
                                            top: 50%;
                                            left: 50%;
                                            width: 600px;
                                            height: 600px;
                                            background-color: white;
                                            border-radius: 10px;
                                            padding: 20px;
                                            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                                            opacity: 0;
                                            transform: translate(-50%, -50%) scale(0.7);
                                            visibility: hidden;
                                            transition: all 0.5s ease-in-out;
                                            z-index: 20;
}

.modal.active {
                                            opacity: 1;
                                            transform: translate(-50%, -50%) scale(1);
                                            visibility: visible;
                                            width: 100%;
}

.modal.small {
                                            width: 80%;
                                            height: 60vh;
                                            text-align: center;
                                            background-color: var(--modal-cad-login);
                                            color: white;
}

.input {
                                            outline: none;
                                            padding: 7px;
                                            margin: 10px;
}

.botao-cad-login {
                                            background-color: var(--color-green);
                                            width: 100%;
                                            padding: 10px 0px;
                                            margin: 5px 0px;

}

.link-cad-login {
                                            color: white;
}

/* Botões de Fechar */
.close-btn {
                                            position: absolute;
                                            top: 10px;
                                            right: 10px;
                                            cursor: pointer;
                                            font-weight: bold;
                                            font-size: 24px;
}

/* Animações de entrada dos modais */
.modal-1.active {
                                            animation: slide-in-left 0.5s forwards;
}

.modal-2.active {
                                            animation: slide-in-right 0.5s forwards;
}

@keyframes slide-in-left {
    0% {
        transform: translate(-100%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translate(100%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

/*modal perfil*/
.perfil {
                                            display: flex;
                                            justify-content: space-around;
                                            align-items: center;
}

.div-img-perfil {
                                            display: flex;
                                            align-items: center;
}

#img-perfil {
                                            width: 50px;
                                            height: 50px;
}

.modal-header {
                                            display: flex;
                                            justify-content: space-around;
                                            align-items: center;
}

.perfil-deposito {
                                            display: flex;
                                            justify-content: space-around;                                        
}

.deposito, .sacar {
                                            background-color: #00a85a;
                                            padding: 10px 25px;
                                            border-radius: 3px;
                                            color: white;
                                            margin-bottom: 20px;
}

.nav-modal-perfil {
                                            background-color: #e4f1eb;
                                            width: 88%;
                                            margin: auto;
                                            text-indent: 1.5em;
                                            border-radius: 3px;
}

.div-transacoes {               
                                            display: flex;
                                            padding: 20px;
                                            margin: 20px;
                                            align-items: center;
}

.transacoes {
                                            width: calc(50%);
                                            display: flex;
                                            flex-flow: column nowrap; 
}

.link-transacoes {
                                            margin: 12px;
}

.modal-footer {
                                            display: flex;
                                            justify-content: space-around;
                                            margin: 20px 0px;
}

                            /*modal Deposito*/

.modal-1 {
                                            background-color: #333;
                                            overflow: scroll;


}                            

.header-deposito {
                                            color: white;
                                            
}

form {
                                            margin: 0 auto;
                                            padding: 20px;
                                            background-color: #333;
}

.input-deposito[type="number"]::-webkit-outer-spin-button,  /*para remover as setas do input number*/
.input-deposito[type="number"]::-webkit-inner-spin-button {
                                            -webkit-appearance: none;
                                            margin: 0;
}        

.div-input {
                                            display: flex;
                                            flex-flow: column nowrap;
                                            width: 100%;
}
.input-deposito {
                                            outline: none;
                                            font-size: 20px;
                                            padding: 15px 10px;
                                            margin-bottom: 15px;
                                            border: none;
                                            background-color: #1a1c20;
                                            color: #fff;
}

.botoes {
                                            display: flex;
                                            flex-wrap: nowrap;
                                            justify-content: center;
}

.valor-botao {
                                            width: 100%;
                                            font-size: 20px;
                                            background-color: #494949;
                                            color: #fff;
                                            border: none;
                                            padding: 15px 0px;
                                            margin: 5px;
                                            border-radius: 5px;
                                            cursor: pointer;
}

#submitButton {
                                            background-color: #325e34;
                                            padding: 15px 0px;
                                            margin: 10px 0px;
                                            color: rgba(255, 255, 255, 0.678);
                                            font-size: 20px;
                                            width: 100%;
                                            border: none;
                                            border-radius: 3px;
                                            cursor: no-drop;
                                            transition: background-color 0.3s ease, cursor 0.3s ease;
} 


#submitButton.enabled {
                                            background-color: #4cb741;
                                            cursor: pointer;
                                            color: white;
  }

.strong-deposito-cashback{
                                            color: #00ff55;
}

.p-cashback {
                                            color: white;
                                            margin-bottom: 20px;
}

.p-cashback-footer {
                                            width: 100%;
                                            height: 100px;
                                            margin-top: 40px;
}

                /*Modal PIX*/

    /* Estilo do aviso de erro */
    .error-message {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffdddd;
      color: #333;
      padding: 20px;
      border: 1px solid #ff5c5c;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      display: none;
      text-align: center;
      z-index: 1000;
    }

    .modal-backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      z-index: 999;
    }

    /* Estilo do segundo modal */
    .modal-pix {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      display: none;
      z-index: 1001;
    }

   
          
                      

footer {
                                            background-color: black;
                                            width: 99%;
                                            margin: auto;
                                            padding: 7px 0px;
                                            color: white;
                                            text-align: center;
                                            margin-bottom: 70px;
}

                        /* Estilos para telas maiores que 600px */
@media (min-width: 600px) {
    .container {
                                width: 100%;
                                max-width: 600px;
                                margin: 0 auto;
    }
    .content {
                                width: 100%;
                                max-width: 600px;
                                margin: auto;
                                background-color: var(--header-content);
                                padding-top: 70px;
    }

   .menu-superior, .menu-inferior {
                                width: 100%;
                                max-width: 600px;
                                margin: 0 auto;
    }

    .modal {
                                width: 90%;
                                max-width: 600px;
                                height: 99%;

    }

}

                /* Estilos para telas menores que 600px */
@media (max-width: 599px) {
    .menu-superior, .menu-inferior {
                        width: 100%;
                        height: 70px;
    }

    .modal-perfil {
                        width: 100%;
                        height: 100%;   
    }

    .content{
                        padding-top: 73px;
    }

    .modal {
                        width: 90%;
                        height: 99%;
    }

    .modal.small {
                        width: 90%;
                        height: 80%;
    }
}