@charset "UTF-8";

:root {
                                                        --body: #33333377;
                                                        --menu: #24262c;
                                                        --header-content: #1d1e22;
                                                        --color-a-hover-menu: #ffffff;
                                                        --input: #1a1c20; 
                                                        --color-green: #55c242;
}

* {
                                                        margin: 0;
                                                        padding: 0px;
                                                        box-sizing: border-box;
}

body {
                                                        justify-content: center;
                                                        font-family: Arial, sans-serif;
                                                        margin: 0;
                                                        padding: 0;
                                                        background-color: var(--body);
                                                        
}

a {
                                                        text-decoration: none;                                                  
}

li {
                                                        list-style: none;
}

strong {
                                                        color: #00a85a;
                                                        font-size: 22px;
}

.content {
                                                        background-color: var(--header-content);

}

         /* Menus */
.menu-superior, .menu-inferior {
                                                        position: fixed;                                         
                                                        padding: 10px ;
                                                        height: 70px;
                                                        background-color: var(--menu);
                                                        color: white;
                                                        display: flex;
                                                        justify-content: space-between;
                                                        border: 1px solid rgba(0, 0, 0, 0.342);
                                                        align-items: center;
                                                        z-index: 10;
                                                        box-sizing: border-box;
}

.menu-inferior {
                                                        bottom: 0;
                                                        text-align: center;
                                                        height: 70px;
                                                        z-index: 100;
}

.menu-ul-inferior {
                                                        display: flex;
                                                        flex-flow: row nowrap;
                                                        width: 100%;
                                                        align-items: center;
                                                        justify-content: space-around;
                                                        list-style: none;
}

.li-menu-inferior {
                                                        display: flex;
                                                        flex-flow: column nowrap;


}

.p-span {
                                                        font-size: 17px;
                                                        font-family: Arial, Helvetica, sans-serif;
}

.menu-superior img {
                                                        height: 40px;
}
.img-afiliado-menu-inferior {
                                                        width: 40px; 
                                                        margin-top: 10px;
                                                        transition: transform 0.5s ease-in-out; /* Suaviza a rotação */
}

.img-afiliado-menu-inferior:hover {
                                                        transform: rotate(360deg); 
}

.menu-superior .links {
                                                        display: flex;
                                                        gap: 20px;
}

.menu-superior a, .menu-inferior a {
                                                        color: white;
                                                        text-decoration: none;
                                                        font-weight: bold;
}

.menu-superior a:hover, .menu-inferior a:hover {
                                                        text-decoration: underline;
}

                /*    Roleta   */
.roleta {
                                                        width: 500px;
                                                        height: 500px;
                                                        background-color: #ccc;
                                                        border-radius: 50%;
                                                        border: 15px solid #135a05;
                                                        position: relative;
                                                        overflow: hidden;
                                                        transition: transform 3s ease-out;
}

.roleta div {
                                                        height: 50%;
                                                        width: 200px;
                                                        position: absolute;
                                                        clip-path: polygon(100% 0, 50% 100%, 0 0);
                                                        transform: translateX(-50%);
                                                        transform-origin: bottom;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        font-size: 20px;
                                                        font-weight: bold;
                                                        font-family: sans-serif;
                                                        color: white;
                                                        left: 135px;
}

.roleta .one { background-color: #ff8900; left: 50%; }
.roleta .two { background-color: #ffffff; transform: rotate(45deg); color: #c31812; font-family: cursive; }
.roleta .three { background-color:#ff8900; transform: rotate(90deg); color: #c31812; font-family: cursive; }
.roleta .four { background-color: #ffffff; transform: rotate(135deg); color: #c31812; font-family: cursive; }
.roleta .five { background-color: #ff8900; transform: rotate(180deg); color: #c31812; font-family: cursive; }
.roleta .six { background-color: #ffffff; transform: rotate(225deg); color: #c31812; font-family: cursive; }
.roleta .seven { background-color: #ff8900; transform: rotate(270deg); color: #0ca286;font-family: Arial, Helvetica, sans-serif; font-size: 18px; text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.74);}
.roleta .eight { background-color: #ffffff; transform: rotate(315deg); color: #c31812; font-family: cursive; }



.overlay {
                                                        position: fixed; 
                                                        width: 600px;
                                                        height: 100%;        
                                                        display: flex;
                                                        justify-content: center;
                                                        background-color: #000000a1;
                                                        align-items: center;
                                                        z-index: 1000;      
}

.close-btn-roleta {
                                                        position: absolute;
                                                        top: 23%;
                                                        border: 1px solid black;
                                                        left: 90%;
                                                        transform: translate(-50%, -70%);
                                                        background-color: rgb(252, 252, 252);
                                                        color: red;
                                                        
                                            
                                                        font-size: 16px;
                                                        cursor: pointer;
                                                        padding: 10px;
                                                        border-radius: 50%; 
                                                        z-index: 10; 
}

.div-spin {
                                                        position: absolute;
                                                        top: 50%;
                                                        left: 50%;
                                                        transform: translate(-50%, -50%);
                                                        text-transform: uppercase;
                                                        font-size: 20px;
                                                        font-weight: bold;
                                                        color: #a2a2a2;
                                                        width: 80px;
                                                        height: 80px;
                                                        font-family: sans-serif;
                                                        border-radius: 50%;

                                                        
}

.spin {
                                                        position: absolute;
                                                        width: 80px;
                                                        height: 80px;
                                                        border-radius: 50%;
                                                        background-color: #9f3800;
                                                        color: white;
                                                        border: none;
                                                        font-size: 18px;
                                                        cursor: pointer;
                                                        outline: none;
                                                        letter-spacing: 1px; 
                                                        z-index: 10;
                                                        border: 5px solid #ffab00;
}
   
.disabled {
                                                        background-color: gray;
                                                        cursor: not-allowed; 
}

#status-message {
                                                        font-size: 45px;
                                                        font-family: cursive;
}

.result {
                                                        margin-top: 20px;
                                                        font-size: 24px;
                                                        font-weight: bold;
                                                        position: absolute;
                                                        top: 80%;
                                                        left: 50%;
                                                        transform: translate(-50%, -50%);
                                                       
}

.result span {
                                                        position: absolute;
                                                        top: 80%;
                                                        left: 50%;
                                                        transform: translate(-50%, -50%);
                                                        color: #0d7efe; 
                                                        font-size: 28px;
                                                        background-color: black;
}
                /* Estilo do conteúdo principal do site, inicialmente oculto */
.main-site {
                                                        padding: 20px;
                                                        text-align: center;
}
                /* Classe para esconder elementos (usada para ocultar site ou roleta) */
.hidden {
                                                        display: none;
}


                    /* Estilos dos Modais */
.modal {
                                                        position: fixed;
                                                        top: 50%;
                                                        left: 50%;
                                                        width: 600px;
                                                        height: 600px;
                                                        background-color: white;
                                                        border-radius: 10px;
                                                        padding: 20px;
                                                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                                                        opacity: 0;
                                                        transform: translate(-50%, -50%) scale(0.7);
                                                        visibility: hidden;
                                                        transition: all 0.5s ease-in-out;
                                                        z-index: 20;
}
            /*Modal cad e login*/
.modal.active {
                                                        opacity: 1;
                                                        transform: translate(-50%, -50%) scale(1);
                                                        visibility: visible;
                                                        width: 100%;
                                                        
}

.strong-cad {
                                                        color: white;
}

.modal.small {
                                                        background-color: var(--header-content);
}

.img-logo-cad-login {
                                                        width: 50px;
}

.form-cad-login {
                                                        display: flex;
                                                        flex-flow: column nowrap;
                                                        width: 100%;

}

.input-cad-login[type="number"]::-webkit-outer-spin-button,  /*para remover as setas do input number*/
.input-cad-login[type="number"]::-webkit-inner-spin-button {
                                                        -webkit-appearance: none;
                                                        margin: 0;
}        

.input-cad-login {
                                                        outline: none;
                                                        padding: 15px 10px;
                                                        margin: 10px;
                                                        background-color: var(--input);
                                                        font-size: 20px;
                                                        border: none;
                                                        color: white;
}

.div-checkbox {
                                                        width: 93%;
                                                        margin: auto;
}

.botao-cad-login {
                                                        background-color: var(--color-green);
                                                        width: 98%;
                                                        color: white;
                                                        font-size: 20px;
                                                        padding: 15px 0px;
                                                        margin: 5px auto;

}

.p {                                                    text-align: center; color: white; margin: 10px auto;}

.link-cad-login {
                                                        color: green;
                                                        text-align: center;
}

.cad-login-google {
                                                       
                                                        width: 100%;
                                                        display: flex;
                                                        flex-flow: column nowrap;
                                                        

}



.div-google {
                                                        background-color: #3f6bb3;
                                                        border-radius: 5px;
                                                        width: 50%;
                                                        margin: auto;
                                                        text-align: center;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        color: white;
                                                        padding: 14px 0px;
}

.img-google{
                                                        width: 30px;
                                                        border-radius: 50%;
                                                        margin-right: 5px;
}


.close-btn {
                                                        position: absolute;
                                                        top: 10px;
                                                        right: 10px;
                                                        cursor: pointer;
                                                        font-weight: bold;
                                                        font-size: 24px;
                                                        color: rgb(158, 143, 143);
}

            /* Animações de entrada dos modais */
.modal-1.active {                                       animation: slide-in-left 0.5s forwards;}

.modal-2.active {                                       animation: slide-in-right 0.5s forwards;}

@keyframes slide-in-left {
0% {
transform: translate(-100%, -50%);
}
100% {
transform: translate(-50%, -50%);
}
}

@keyframes slide-in-right {
0% {
transform: translate(100%, -50%);
}
100% {
transform: translate(-50%, -50%);
}
}

                    /* modal Deposito Modal 1 */
.modal-1 {      
                                                        overflow: scroll;
                                                        background-color: var(--header-content);
}                            

.header-deposito {
                                                        color: white;

}

form {
                                                        margin: 0 auto;
                                                        padding: 20px;
                                                        background-color: #333;
}

.input-deposito[type="number"]::-webkit-outer-spin-button,  /*para remover as setas do input number*/
.input-deposito[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
}        

.div-input {
                                                        display: flex;
                                                        flex-flow: column nowrap;
                                                        width: 100%;
}
.input-deposito {
                                                        outline: none;
                                                        font-size: 20px;
                                                        padding: 15px 10px;
                                                        margin-bottom: 15px;
                                                        border: none;
                                                        background-color: var(--input);
                                                        color: #fff;
}

.botoes {
                                                        display: flex;
                                                        flex-wrap: nowrap;
                                                        justify-content: center;
}

.valor-botao {
                                                        width: 100%;
                                                        font-size: 20px;
                                                        background-color: #494949;
                                                        color: #fff;
                                                        border: none;
                                                        padding: 15px 0px;
                                                        margin: 5px;
                                                        border-radius: 5px;
                                                        cursor: pointer;
}

#submitButton {
                                                        background-color: #325e34;
                                                        padding: 15px 0px;
                                                        margin: 10px 0px;
                                                        color: rgba(255, 255, 255, 0.678);
                                                        font-size: 20px;
                                                        width: 100%;
                                                        border: none;
                                                        border-radius: 3px;
                                                        cursor: no-drop;
                                                        transition: background-color 0.3s ease, cursor 0.3s ease;
} 


#submitButton.enabled {
                                                        background-color: #4cb741;
                                                        cursor: pointer;
                                                        color: white;
}

#submitButton:disabled {
                                                        background-color: #325e34;
                                                        cursor: not-allowed;
                                                        color: rgba(255, 255, 255, 0.6);
}

.strong-deposito-cashback{
                                                        color: #00ff55;
}

.p-cashback {
                                                        color: white;
                                                        margin-bottom: 20px;
}

.p-cashback-footer {
                                                        width: 100%;
                                                        height: 100px;
                                                        margin-top: 40px;
}

/*        Modal pix Modal 5  */
.modal-5 {
                                                        background-color: silver;
                                                        height: 90%;
}

.p-pix {
                                                        width: 70%;
                                                        text-align: center;
                                                        margin: 10px auto;
}

#selectedValue {
                                                        font-size: 40px;
}

.img-qr {   
                                                        width: 300px;
                                                        margin: auto;
                                                        display: block;
                                                        text-align: center;
}

#error-message {
                                                        display: none;
                                                        position: fixed;
                                                        top: 40%;
                                                        left: 50%;
                                                        transform: translate(-50%, -50%);
                                                        background-color: rgb(189, 29, 29);
                                                        border: 1px solid rgba(0, 0, 0, 0.363);
                                                        color: white;
                                                        padding: 10px 30px;
                                                        border-radius: 5px;
                                                        font-size: 25px;
                                                        text-align: center;
                                                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                                        z-index: 1000;
}  

                    /*Modal afiliado Modal 2*/
.modal-2 {
                                                        padding: 0px;
                                                        background-color: #f4f4f4;
}                    
.header-afiliado {
                                                        background-color: #009d80;
                                                        padding: 20px;
                                                        color: #ffe800;
}

        /* Estilo do menu lateral */
        .menu-afiliados {
            display: flex;
            overflow-x: auto;
            white-space: nowrap;
            background-color: #f4f4f4;
            padding: 10px 0;
            margin-bottom: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .menu-afiliados button {
            background: none;
            color: #333;
            border: none;
            padding: 10px 0px;
            margin: 0px 5px;
            font-size: 16px;
            cursor: pointer;
            position: relative;
        }

        .menu-afiliados button.active {
            font-weight: bold;
            color: #007bff;
        }

        .menu-afiliados button.active::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;
            background: #007bff;
        }

        .menu-afiliados button:hover {
            color: #0056b3;
        }

        /* Estilo do conteúdo do modal */
        .conteudo-afiliados {
            background: #f9f9f9;
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 5px;
        }

        .conteudo-afiliados h2 {
            margin-top: 0;
        }

.conteudo-afiliados {
            display: none;
}

.conteudo-afiliados.active {
            display: block;
}

                    /*modal perfil  Modal 4*/
#modal-4 {
                                                        height: 84%;
}

.perfil {
                                                        display: flex;
                                                        justify-content: space-between;
                                                        align-items: center;
                                                        margin: 10px;
}

#img-perfil {
                                                        width: 85px;
                                                        height: 63px;
}

.modal-header {
                                                        display: flex;
                                                        justify-content: space-around;
                                                        align-items: center;
}

.perfil-deposito {
                                                        display: flex;
                                                        justify-content: space-around;
                                                        margin: 10px 0px;                                        
}

.deposito, .sacar {
                                                        background-color: #00a85a;
                                                        padding: 10px 25px;
                                                        border-radius: 3px;
                                                        color: white;
                                                        margin-bottom: 20px;
}

.nav-modal-perfil {
                                                        background-color: #e4f1eb;
                                                        width: 88%;
                                                        margin: auto;
                                                        padding: 10px 15px;
                                                        border-radius: 3px;
}

.div-transacoes {               
                                                        display: flex;



}

.transacoes {
                                                        width: calc(50%);
                                                        display: flex;
                                                        flex-flow: column nowrap; 
}

.link-transacoes {
                                                        margin: 12px 0px;
}

.modal-footer {
                                                        display: flex;
                                                        justify-content: space-around;
                                                        margin: 20px 0px;
}

                       

                /*   Site    */
.carousel {
                                                        position: relative;
                                                        max-width: 95%;
                                                        margin: 10px auto;
                                                        overflow: hidden;    
}

.carousel-images {
                                                        display: flex;
                                                        transition: transform 0.5s ease;
}

.carousel-images img {
                                                        max-width: 100%;
                                                        height: auto;
}


.prev,
.next {
                                                        position: absolute;
                                                        top: 50%;
                                                        font-size: 20px;
                                                        transform: translateY(-50%);
                                                        background-color: rgba(0, 0, 0, 0.877);
                                                        color: white;
                                                        padding: 10px 20px;
                                                        border: none;
                                                        cursor: pointer;
}

.next:hover {                                           background-color: #1D2129;}
.prev:hover {                                           background-color: #1D2129;}
.prev {                                                 left: 10px;}
.next {                                                 right: 10px;}

.nav-sessao {
                                                        background-color: black;
                                                        color: white;
                                                        width: 95%;
                                                        margin: 10px auto;
                                                        text-align: center;
}

aside {
                                                        display: flex;
                                                        width: 100%;
                                                        justify-content: center;                                   
                                                        align-items: center;
                                                        margin: 0px 10px;
                                                        justify-content: space-between;
}

.buscar {
                                                        background-color: white;
                                                        width: 100%;
                                                        display: flex;
                                                        justify-content: space-between;
                                                        flex-flow: row nowrap;
}

#input-buscar {
                                                        width: 90px;
                                                        padding: 5px 2px;
                                                        border: none;
                                                        outline: none;
}

.div-but-pag {
                                                        display: flex;
                                                        flex-flow: row nowrap;                                             
                                                        margin: 20px;
                                                        cursor: pointer;
}

.but-pag {
                                                        padding: 5px;
                                                        margin: 0px 1px;
}



.container-jogos {
                                                        width: 95%; /* Largura de 95% da largura da viewport */
                                                        margin: 0 auto; /* Centraliza horizontalmente o conteúdo */
}

section {
                                                        display: flex;
                                                        flex-wrap: wrap;
                                                        justify-content: space-between; /* Distribui as seções uniformemente na linha */
}

.div-img {
                                                        display: flex;
                                                        flex-direction: column;
                                                        width: calc(33% - 20px); /* Distribui as imagens em 3 colunas com espaçamento */
                                                        text-align: center;
}

.link-jogar {
                                                        text-decoration: none;
                                                        background-color: rgb(13, 126, 254);
                                                        color: white;
                                                        padding: 10px;
                                                        margin-bottom: 10px;

}


            /*          footer            */
footer {
                                                        background-color: black;
                                                        width: 99%;
                                                        margin: auto;
                                                        padding: 17px 0px;
                                                        color: white;
                                                        text-align: center;
                                                        margin-bottom: 70px;
}

                        /* Estilos para telas maiores que 600px */
@media (min-width: 600px) {
                    .container {
                                                width: 100%;
                                                max-width: 600px;
                                                margin: 0 auto;
                    }

                    .content {
                                                width: 100%;
                                                max-width: 600px;
                                                margin: auto;
                                                padding-top: 70px;
                    }

                .menu-superior, .menu-inferior {
                                                width: 100%;
                                                max-width: 600px;
                                                margin: 0 auto;
                    }

                    .modal {
                                                width: 90%;
                                                max-width: 600px;
                                                height: 99%;

                    }

}

                /* Estilos para telas menores que 600px */
@media (max-width: 599px) {
    
        .menu-superior, .menu-inferior {
                            width: 100%;
                            height: 70px;
        }

        .overlay {
                            width: 100%;
                            height: 100%;
        }

        .roleta {
            width: 300px;  /* Reduz para 300px em telas pequenas */
            height: 300px; /* Reduz para 300px em telas pequenas */
            border-width: 10px; /* Ajusta a borda para o novo tamanho */
        }

        .roleta div {
            width: 120px; /* Ajuste proporcional para os setores da roleta */
            font-size: 14px; /* Ajuste do tamanho da fonte */
            left: calc(50% - 60px); /* Centraliza as seções proporcionalmente */
        }

        .close-btn-roleta {
            position: absolute;
            top: 35%;
            left: 85%;
            transform: translate(-50%, -70%);
        }

        .img-roleta {
            max-width: 50px;
            width: 30px;
}

        .modal-perfil {
                            width: 100%;
                            height: 100%;   
        }

        .content{
                            padding-top: 73px;
        }

        .modal {
                            width: 90%;
                            height: 99%;
        }

        
.div-google {

    width: 70%;}


}