*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
  }

h4, #clock {
                color: white;
                padding: 10px;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.698);
}

  .hora{
          display: flex;
          justify-content: space-between;
          margin-bottom: 100px;
  }
  
  .container {
    text-align: center;
    margin: auto;
    background-color: rgb(250, 95, 113);
    width: 57vw;
    height: 100vh;
  }
  
  .slot-machine {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  
  .reel {
    width: 50px;
    height: 140px;
    border: 2px solid black;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* esconde o symbols atraz*/
    background-color: rgb(225, 202, 202);
  }
  
  .reels {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px; /* Altura do slot */
    border: 2px solid black;

  }
  
  .symbol {
    width: 100%;
    text-align: center;
    font-size: 27px;
    padding-top: 10px;
    font-weight: bold;
    animation: spin 3s ease-in-out infinite; /* Ajuste a duração conforme necessário */
  }
  
  @keyframes spin {
    0% { transform: translateY(-200vh); }
    100% { transform: translateY(10vh); }
  }
  
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .controls {
                            display: flex;
                            align-items: center;
                            justify-content: center;
  }

  @media screen and (max-width: 600px) {
    .container {

      width: 100vw;

    }

  }
  