@charset "UTF-8";

*  {
                                    padding: 0px;
                                    margin: 0px;
}

body {
                                    padding: 0px;
                                    margin: 0px;
}



/* Estilos para a tela de carregamento */
.loading-screen {
                                    position: fixed;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: #000149;
                                    color: #fff;
                                    font-size: 24px;
                                    z-index: 100;
                                    background-image: url(imagens/WebBanners/fortune-dragon_splash-screen_en.jpg);
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-position: center center;
}

#start-button {
                                    font-size: 18px;
                                    background-color: #ffd760;
                                    border: 1px solid #b49844;
                                    border-radius: 10px;
                                    padding: 10px 70px;
                                    color: white;
                                    position: absolute;
                                    left: 50%;
                                    top: 77%;
                                    transform: translate(-50%, -50%);
}

/* Estilo para esconder as imagens aleatórias até clicar em "Começar" */
.hidden {
                                    display: none;
}

.fundo {    
                                    background-color: #000000c5;
                                    width: 100vw;
                                    height: 100vh;
}

.container-grande {
                                    width: 600px;
                                    height: 100vh;
                                    background-image: url(imagens/Background/fortune-dragon_background_vertical.jpg);
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    background-position: center center;
                                    padding: 0px 30px;
}

.horario {
                                    display: flex;
                                    justify-content: space-between;
                                    color: white;
                                    margin-top: 5px;
}

h3 {
                                    font-size: 17px;
}

/* Estilos para a slot machine */
.slot-machine {
                                    display: flex;
                                    justify-content: center;

}

.column {
                                    position: relative;
                                    width: 175px;
                                    height: 520px;
                                    overflow: hidden;
                                    background-color: #351049;
                                    border: 1px solid #6c63e9;
}

.images-container {
                                    position: absolute;
                                    display: flex;
                                    flex-direction: column;
                                    transition: top 1s ease;
}

.images-container img {
                                    width: 170px;
                                    height: 170px;
}

.fundo {
                                    text-align: center;
}

.container-grande {
                                    display: inline-block;
}

.horario {
                                    margin-bottom: 20px;
}

/* Container para o texto rolante */
.marquee-container {
                                    width: 100%;
                                    overflow: hidden;
                                    position: relative;
                                    background-color: #130986;
                                    color: #fff;
                                    height: 50px; /* Ajuste conforme necessário */
                                    width: 520px;
                                    margin: auto;
                                    border-radius: 50px;
                                    border: 1px solid rgb(212, 13, 153);
}

/* Wrapper para os textos rolantes */
.marquee-wrapper {
                                    display: flex;
                                    position: absolute;
                                    width: 70%; /* Ajuste conforme o número de textos */
                                    height: 100%;
                                    top: 0;
                                    left: 0;
}

/* Estilo dos textos rolantes */
.marquee-text {
                                    display: inline-block;
                                    white-space: nowrap;
                                    width: 10%;
                                    text-align: center;
                                    padding: 0 100%;
                                    text-align: center;
                                    margin: auto;
                                    animation: marquee 15s linear infinite;
}

/* Atrasos diferentes para os textos */
.marquee-text:nth-child(1) {
    animation-delay: 0s;
}
.marquee-text:nth-child(2) {
    animation-delay: 0s;
}
.marquee-text:nth-child(3) {
    animation-delay: 0s;
}
.marquee-text:nth-child(4) {
    animation-delay: 0s;
}


/* Animação para o texto rolar da direita para a esquerda */
@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-370%);
    }
}

.div-controles {
                                background-color: #d23e83;
                                width: 530px;
                                margin: auto;
}

.controles {
                                background-color: #d23e83;
}

.banca {
                                display: flex;
                                justify-content: space-around;
                                width: 520px;
                                margin: auto;

}

.div-banca {
                                border: 3px solid #9c63ba;
                                background-color: #7a2d58;
                                width: 100%;
                                padding: 10px;
                                margin: 0px 3px;
                                border-radius: 15px;
}

.controles {
                                display: flex;
                                justify-content: space-around;                          
                                margin: 30px;
                                font-size: 20px;
                                align-items: center;
} 

.turbo {
                                width: 50px;
                                height: 50px;
                                cursor: pointer;
}
.amount-less {
                                width: 50px;
                                height: 50px;
                                cursor: pointer;
}

.spin{
                                width: 100px; /* Ajuste o tamanho conforme necessário */
                                height: 100px;
                                /* Define a origem da rotação */
                                transform-origin: center;
                                /* Adiciona uma animação contínua */
                                animation: spin 5s linear infinite;
                                cursor: pointer;
}

/* Animação para o spin */
@keyframes spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

.amount-more {

                                        width: 50px;
                                        height: 50px;
                                        cursor: pointer;
}

.auto {
                                        width: 50px;
                                        height: 50px;
                                        cursor: pointer;
}

/* Add this to your CSS file */
.reel-symbol.winning-symbol {
    /* Example: Add a gold glow or border */

    border: 2px solid rgb(255, 0, 0); /* Or a border */
    background-color: #130986;

}
