@charset "UTF-8";

*{
                                            margin: 0px;
                                            padding: 0px;
                                            box-sizing: border-box;
}

body{
                                            background-color: #444444;
}

.logo-menu {
                                            width: 80vw;
                                            height: 39vh; 
                                            margin: auto;
                                            background-image: url(imagens/logo-slack.jpg);
                                            background-size: 100vw;
                                            background-repeat: no-repeat;
                                            background-position: center center;
}

.nav-menu {
                                            width: 80vw;
                                            margin: auto;
                                            background-color: #1c1e1fe6;
                                            padding: 5px;
                                            margin-bottom: 20px;
              
}

ul {
                                            display: flex;
                                            flex-direction: row;
                                            gap: 3em;             
                                            list-style: none;
}

.a-menu {
                                            text-decoration: none;
                                            color: white;
}

.a-menu:hover {
                                            color: yellow;
}



.conteudo {
                                          width: 80vw;
                                          margin: auto;
                                          text-align: center;
                                          background-color: antiquewhite;
}

h1 {
                                          color: blue;
                                          margin: 10px;
                                          padding: 10px;
}

h2 {
                                          color: rgb(165, 143, 86);
                                          margin: 10px;
                                          padding: 10px;
}

p {
                                          padding: 10px;
}

img {
                                          width: 80vw;
}


.footer-contatos {
                                      width: 80vw;
                                      margin: 20px auto;
                                      text-align: center;
                                      background-color: rgb(38, 195, 142);
                                      padding: 20px;

}

.contatos-footer {
                      
}


.a-footer {
                                      color: rgb(113, 51, 123);
                                      text-decoration: none;
                                      font-weight: bold;
                                      font-size: 18px;
}

.a-footer:hover {
                                      color: red;
}

.ult-p-footer {
                                        background-color: black;
                                        color: white;
                                        text-align: center;
                                        width: 80vw;
                                        margin: auto;
}

@media screen and (max-width: 768px) {
  .logo-menu {
                            width: 100vw;
                            height: 22vh; 
                            margin: auto;
                            background-size: 100vw;
                            background-repeat: no-repeat;
                            background-position: center center;
}

  .nav-menu {
                            width: 100vw;
  }

  .conteudo {
                            width: 100vw;
  }
}

